
header{
	background-color: #B2B2B2;
}

aside{
	background-color: #FF2D00;
}

nav{
	background-color: #10FF00;
}

footer{
	background-color: #400000;
	color: white;
}

#header{
	background-color: #B2B2B2;
}

#aside{
	background-color: #FF2D00;
}

#nav{
	background-color: #10FF00;
}

#footer{
	background-color: #400000;
	color: white;
}


body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}
block{
   width: 120px;
   height: 120px;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
.container{
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	margin: 20px auto;
}
.card {
 width: 300px;
 height: 450px;
 margin: 0 auto;
 position: relative; /* относительное позиционирование родительского элемента, чтобы дочерние .product, .description располагать внутри  card */
 border: 1px solid #f5dde1;
}
.card_image{
	height: 120px;
	width: 100%;
	max-width: 180px;
	background-color: #a2a2a2;
	margin: auto;
}
.card_description{
	margin-top: 15px;
	text-align: center;
}
.link {
 text-decoration: none;
 display: inline-block;
 font-size: 2rem;
 background-color: #1e88e5;
 border-radius: 5px;
 color: #ffffff;
 padding: 15px 25px;
 transition: all 0.8s ease 0s;
}
.link:hover {
 background-color: #e53935;
}
#callback {
 width: 300px;
 height: 150px;
 background-color: grey;
 position: absolute;
 bottom: 30px;
 transform: translateX(-100%);
}
#callback p {
 color: #fff;
 padding: 22px;
}
#callback:hover {
 transform: translateX(0%);
 transition: all 0.7s ease;
}
#callback:after {
 content: 'Обратная связь';
 background-color: pink;
 text-align: center;
 border-radius: 0 0 8px 8px;
 padding: 5px 0;
 width: 150px; /* ширина псевдоэлемента равна высоте блока */
 position: absolute; /* позиционирование абсолютное */
 left: 300px; /* позиция слева равен ширине блока #callback */
 transform: rotate(-90deg);
 transform-origin: 0 0;
}
.product,
.description {
 width: 100%; /* ширина 100% родителя */
 height: 100%; /* высота 100% родителя */
 position: absolute; /* абсолютное позиционирование элементов внутри родителя с классом card */
 left: 0; /* координата позиционирования слева 0px*/
 top: 0; /* координата позиционирования сверху 0px */
 text-align: center;
 background-color: #B59279;
 backface-visibility: hidden;
 transition: 1s;
}
.description a {
 display: inline-block;
 padding: 10px 30px;
 margin-top: 30px;
 text-decoration: none;
 text-transform: uppercase;
 color:#B59279;
 background-color: #8b400b;
}
.description {
 box-sizing: border-box;
 padding: 40px;
 transform: rotateY(180deg); 
 /* поворот блока с описанием на 180 град, прячем его в начальном состоянии, без наведения курсора мыши */
}
.card:hover .product {
 transform: rotateY(180deg); /* разворачиваем блок с изображением на 180 градусов */
}
.card:hover .description {
 transform: rotateY(360deg); /* возвращаем блок*/
}
h1 {
 background-color: #d4c4ff;
 width: 30vw;
 color: #fff;
 animation: myAnim 5s linear alternate infinite;
}
@keyframes myAnim {
 from {
   margin-left: 0;
 }
 to {
   margin-left: 500px;
 }
}
.hasy { /* Круг для часов */
position: relative;
width: 100px;
height: 100px;
margin: 5em;
border: 4px solid #48d1cc;
border-radius: 50%;
}

.minutes { /* Минутная стрелка */
position: absolute; /*Позиционируем относительно .hasy */
width: 3px; /* Толщина стрелки */
height: 35px; /* Длина стрелки */
left: 51px; /*Положение стрелки*/
top: 16px;
background: #24C0BA;
animation: now 1600s infinite steps(1600); /* Скорость и движение стрелки */
transform-origin: 0 34px; /* Точка относительно которой вращается стрелка */
}

.has {
position: absolute;
width: 4px;
height: 28px;
left: 50px;
top: 20px;
background: #009B95;
animation: nov 43200s infinite steps(43200);
transform-origin: 0 29px;
}

.sekundes {
position: absolute;
width: 2px;
height: 45px;
left: 51px;
top: 4px;
background: #48d1cc;
animation: nev 60s infinite steps(60);
transform-origin: 0 45px;
}

@keyframes nev {
100%{
transform: rotate(360deg); /* Стрелка делает полный круг */
}
}

@keyframes nov {
100%{
transform: rotate(360deg);
}
}

@keyframes now {
100%{
transform: rotate(360deg);
}
}

.onen, .threen, .sixn, .ninen { /* Цифры на циферблате */
position: absolute;
font-weight: bold;
font-size: 18px;
color: #48d1cc;
}

.onen {
top: 3px;
left: 41px;
}

.threen {
top: 43px;
left: 85px;
}

.sixn {
top: 78px;
left: 43px;
}

.ninen {
top: 43px;
left: 5px;
}

.sentr { /* Центр циферблата */
position: absolute;
width: 15px;
height: 15px;
border-radius: 50%;
top: 42px;
left: 44px;
background: #ffffff;
}
.image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(img/2.jpg);
    background-repeat:no-repeat ;
    background-position: center ;
    background-size: cover;
	overflow: auto;
}

.menni{
	width: 100%;
    height: 75px;
	border-radius: 50px;
    background: #B59279;
    color: #FFF;
}
.text{
    margin-top:20px;
    font-family: Lexend Zetta;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	color: white;
width:100%;
top:40%;
text-align:center;
}
.logo{
	margin-left: 0px; 
	height: 129px;
	height: 121px;
	margin-top: 10px;
}
.textl{
    margin-top:10px;
    font-family: Lexend Zetta;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	color: white;
width:100%;
top:40%;
text-align:center;
}
.paral {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 90%; 
  background-image: url(img/2.jpg);
}